*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/
Package.resolved
*.xcconfig
Secrets/
.env
*.pem
*.p12
*.key
.DS_Store
Pods/
